@import "variables";

.page-title {
  color: #003946;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 0.625rem;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-top: 2.143rem;
  margin-bottom: 1.429rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 100%;
    background-color: #eaab00;
    z-index: -1;
  }
}
.page-title.fall-down {
  margin-bottom: -1rem;
  z-index: 100;
}
.page-subtitle {
  color: #003946;
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.714rem;
}

.box {
  position: relative;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
}

.box-contract {
  padding: 2rem 1.571rem 1.214rem;
  margin-bottom: 0.7143rem;

  .title {
    color: $color-white;
    font-size: 0.8571rem;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1px;
    margin: 0;
  }

  div {
    color: #181818;
    font-size: 0.8571rem;
    font-weight: 300;
    margin-top: 0.5rem;

    span {
      font-weight: 600;
    }
  }
}
.box-contract-orange {

  .title {
    background-color: #d0651e;
  }
}
.box-contract-brown {

  .title {
    background-color: #82786F;
  }
}
.box-contract-green {

  .title {
    background-color: #658237;
  }
}
.box-contract-blue {

  .title {
    background-color: #003946;
  }
}
.box-contract-light-blue {

  .title {
    background-color: #5482AB;
  }
}
