@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import "functions";
@import "mixins";
@import "variables";
@import 'modules';

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  position: relative;
  min-height: 100vh;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 272px;
    height: 267px;
    background-image: url('../images/bim-icon.png')
  }
}

footer {
  color: rgba(#666666, 0.5);
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 1.143rem;
  margin-bottom: 0.5714rem;
}
