@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import "functions";
@import "mixins";
@import "variables";
@import 'modules';

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  position: relative;
  min-height: 100vh;
  @media screen and (min-width: 768px){
    padding-bottom: 70px;
  }

  &.body-flex{
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //margin-bottom: 52px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 272px;
    height: 267px;
    background-image: url('../images/bim-icon.png')
  }
}

//.desk-mg-l{
//  transition: all .3s ease;
//  @media screen and (min-width: 768px){
//    &.in{
//      margin-left: 300px;
//    }
//  }
//}
.container{
  max-width: 750px !important;
}