@import "variables";

.z-index-1033{
  position: relative;
  z-index: 1033;
}
.rp-title{
  margin-left: 15px;
  color: #003946;
  font-size: 18px;
  font-weight: bold;
  padding-left: 16px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 25px;
  &:before{
    content: '';
    background: #EAAB00;
    width: 31px;
    height: 31px;
    position: absolute;
    top: -7px;
    left: 0;
    z-index: -1;
  }
}
.tabp-progress {
  padding-right: 0;
  ul {
    width: 100%;
    li {
      width: 50%;
      text-align: right;
    }
  }
}
