body{
  padding-bottom: 70px !important;
}
footer{
  position: absolute !important;
}
.z-index-1033{
  position: relative;
  z-index: 1033;
}
form.form-groups{
  margin-bottom: 55px;
  .search-group{
    .s-subtitle{
      font-size: 14px;
      color: #003946;
      margin-bottom: 26px;
    }
  }
}