@import "variables";

.z-index-1033{
  position: relative;
  z-index: 1033;
}
form{
  margin-bottom: 55px;
  .search-group{
    margin-top: 46px;
    margin-bottom: 23px;
    padding: 0 15px 20px 15px;
    background: #fff;
    .s-title{
      color: #003946;
      font-size: 18px;
      font-weight: bold;
      padding-left: 16px;
      position: relative;
      margin-top: 32px;
      margin-bottom: 2px;
      z-index: 1;
      position: relative;
      top: -13px;
      &:before{
        content: '';
        background: #EAAB00;
        width: 31px;
        height: 31px;
        position: absolute;
        top: -7px;
        left: 0;
        z-index: -1;
      }
    }
    .s-subtitle{
      font-size: 14px;
      color: #003946;
      margin-bottom: 26px;
    }
    input{
      height: 40px;
      color: #c0c0c0;
      background: #ececec;
      border-radius: 50px;
      border: 1px solid rgba(129,120,112,0.5);
      width: 100%;
      padding: 12px 25px;
      margin-bottom: 20px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #c0c0c0;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #c0c0c0;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #c0c0c0;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #c0c0c0;
    }
  }
  .s-submit{
    background: #003946;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-top: 23px;
    padding: 15px;
    border: none;
    border-radius: 50px;
  }
}