@import "variables";

.z-index-1033{
  position: relative;
  z-index: 1033;
}
.rp-title{
  margin-left: 15px;
  color: #003946;
  font-size: 18px;
  font-weight: bold;
  padding-left: 16px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 25px;
  &:before{
    content: '';
    background: #EAAB00;
    width: 31px;
    height: 31px;
    position: absolute;
    top: -7px;
    left: 0;
    z-index: -1;
  }
}
#rp-tabpanel{
  ul.nav.nav-tabs{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 18px;
    border: none;
    li{
      width: 33.3333%;
      padding-left: 10px;
      padding-right: 10px;
      a{
        display: block;
        font-size: 13px;
        font-weight: 600;
        color: #c0c0c0;
        width: 100%;
        position: relative;
        &:hover, &:focus, &.active{
          text-decoration: none;
          color: #181818;
          &:after{
            content: '';
            height: 7px;
            background: #eaab00;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}

.tabp-progress {
  ul {
    li {
      width: 25%;
    }
  }
}
